.wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #013914;
  color: white;

  .container {
    width: 1200px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .searchCard {
        width: 100%;
        .searchForm {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px 48px;
          width: 100%;
        }
        .searchInputs {
          display: flex;
          gap: 20px;
          width: 100%;
          flex: 1 1 0;
        }
        .input {
          display: inline-block;
          flex-direction: column;
          width: 60%;
          max-width: 350px;
          position: relative;

          img {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 18px;
            top: 36%;
          }

          input[type='text'] {
            padding-left: 30px;
          }
          input::placeholder {
            color: #a0a0a0;
          }

          Input {
            border-radius: 10px;
            font-size: 16px;
            outline: none;
            background-color: #f5f5f5;
            color: black;
            cursor: pointer;
          }
        }
        .location {
          max-width: none;
          width: 100%;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
        }
      }
    }

    .right {
      height: 100%;
      img {
        height: 80%;
        object-fit: contain;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .wrapper {
      .Title {
        font-size: 20px;
      }
      .container {
        width: 90%;
        .left {
          .searchCard {
            width: 100%;
          }
        }
        .right {
          display: none;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    height: 700px;
  }
}
