.btn {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s all;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &__primary {
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    &:hover {
      background: white;
      border: 1px solid white;
      color: #013914;
    }
  }
  &__secondary {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    &:hover {
      background: #013914;
      color: white;
      border: none;
    }
  }
  &__warning {
    background: red;
    border: 1px solid white;
    color: white;
    width: 20%;
  }
  &__search {
    display: unset;
    width: 10%;
    height: 45px;
    border-radius: 10px;
    background-color: #1dbf73;
    color: white;
    text-align: center;
    font-size: 18px;
  }
  &__default {
    width: 10%;
    color: white;
  }
}
