.btn {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  color: black;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s all;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &__primary {
    border: 1px solid white;
    color: white;
    &:hover {
      background: white;
      border: 1px solid white;
      color: #013914;
    }
  }
  &__secondary {
    background: white;
    border: 1px solid black;
    &:hover {
      background: #5ae4a8;
      color: white;
      border: none;
    }
  }
}
