.notification {
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0px;
    &.success {
        border: 1px solid green;
        background: green;
        p {
            color: white;
        }
    }
    &.warning {
        border: 1px solid red;
        background: red;
        p {
            color: white;
        }
    }
}