.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.profile_card {
  max-width: 600px;
  width: 100%;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.profile_card_title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.profile_card_edit_button {
  padding: 10px 20px;
  background-color: #333333;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile_card_edit_button:hover {
  background-color: #444444;
}

.profile_card_body {
  padding: 20px;
}

.profile_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.profile_info_label {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  width: 200px;
}

.profile_info_value {
  margin: 0;
}
